* text=auto
*.cs text eol=lf
*.asmdef text eol=lf
*.json text eol=lf
*.md text eol=lf
*.meta text eol=lf
*.asset text eol=lf
*.unity text eol=lf
*.txt text eol=lf
*.png binary
*.jpg binary
*.jpeg binary
*.ttf binary

